* {
  background-color: rgb(252, 222, 222);

  max-height: 100%;
}
.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid transparent;
}
