@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: none;
  border-bottom: 0.1rem solid black;
  width: 7cm;
}
input:focus {
  border-bottom: 0.1rem solid black;
}
input::placeholder {
  float: left;
  font: bold;
}
